@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.characters {
  background-color: $color-primary-light;
  height: 12rem;
  @include respond(tab-port) {
    overflow-x: scroll;
  }

  &__item {
    width: 9.5rem;
    height: 9.5rem;
    margin-right: 3rem;
    border-radius: 50%;
    background-color: $color-white;
    border: 2px solid $color-grey-dark-3;
  }
  &__img {
    object-fit: contain;
    border-radius: 50%;
    height: 100%;
  }
}
