@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-white;
  height: 10rem;
  @include respond(tab-land) {
    padding-inline: 5rem;
  }
  @include respond(phone) {
    flex-direction: column;
    height: auto;
    padding-block: 5rem;
  }
  &__list {
    @include respond(phone) {
      margin-top: 3rem;
      flex-direction: column;
    }
  }
  &__item {
    margin-right: 1.5rem;
    @include respond(phone) {
      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }
  }
  &__link {
    display: grid;
    grid-template-columns: min-content max-content;
    color: $color-grey-dark;
    background: $color-white;
    box-shadow: 0 0 0.5rem $color-grey-dark-2;
    font-size: 2rem;
  }
  &__icon {
    margin-right: 1rem;
    &--1 {
      fill: $color-primary;
      font-size: 2.5rem;
    }
    &--2 {
      fill: $color-secondary;
      font-size: 2.5rem;
    }
    &--3 {
      fill: $color-tertiary;
      font-size: 2rem;
      margin-top: 0.2rem;
    }
  }
}
