// VARIABLES
$color-primary-light: #75d8ff;
$color-primary: #31c4ff;
$color-primary-dark: #00799c;
$color-primary-dark-2: #014a60;

$color-secondary: #ffe000;
$color-secondary-dark: #c3ac00;

$color-tertiary: #f2002f;
$color-tertiary-dark: #a50020;

$color-blue: #007bff;

$color-primary-text: #002530;

$color-success: #ddf3dd;
$color-success-dark: #00c500;
$color-success-dark-2: #00d000;

$color-danger: #f3dddd;
$color-danger-dark: #c50000;

$color-warning: #fff3cd;
$color-warning-dark: #856404;

$color-grey-dark: #555;
$color-grey-dark-2: #ccc;
$color-grey-dark-3: #dadada;
$color-grey-dark-4: #777;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eaeaea;

$font-secondary: "Luckiest Guy", cursive;
$font-primary: "Chilanka", sans-serif;

$container-width: 114rem;
$container-fluid-width: 140rem;

$zIndex-1: 9;
$zIndex-2: 99;
$zIndex-3: 999;
$zIndex-4: 9999;
$zIndex-5: 99999;
