@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.single-game-intro {
  @include sectionWrapper(
    $color-secondary,
    "../assets/gifs/kids-pattern.gif",
    false
  );
  margin-top: 3rem;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  column-gap: 4rem;
  row-gap: 1rem;
}

.main {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.section-title {
  grid-column: 2 / -1;
  font-size: 2rem;
}

.card-main {
  height: 20rem;
}
