@import "./styles/Variables";
@import "./styles/Mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px : 0.5625*100 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px : 0.5*100 = 50%
  }
  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px : 6 / 16 = (0.375) * 100 = 37.5%
  }
  @include respond(small-phone) {
    font-size: 25%; // 1rem = 4px : 4 / 16 = (0.25) * 100 = 25%
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px : 0.75*100 = 75%
  }
}

body {
  margin: 0;
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary-text;
  line-height: 1.6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  &:disabled {
    background-color: darken($color-white, 15%) !important;
    border-color: darken($color-white, 25%) !important;
  }
}
/////////////////////////////////////////// UTILITES
.container {
  max-width: $container-width;
  padding-block: 5rem;
  padding-inline: 2rem;
  margin: 0 auto;
}
.container-fluid {
  max-width: $container-fluid-width;
  margin: 0 auto;
}
.container-grid-2x {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 4rem;
  @include respond(small-phone) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}
.container-grid-3x {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 4rem;
}
.container-grid-4x {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem;
}
.list-unstyled {
  list-style: none;
}
.flex-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-v-center {
  display: flex;
  align-items: center;
}
.flex-h-center {
  display: flex;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-form {
  display: flex;
  column-gap: 3rem;
  &--p1 {
    flex-grow: 1;
  }
  &--p2 {
    flex-grow: 1;
    max-height: 22.5rem;
    overflow-y: scroll;
    padding-right: 2rem;
  }
}

.img-fluid {
  width: 100%;
  max-width: 100%;
}
// MARGINs
.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-xl {
  margin-top: 5rem;
}
.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xl {
  margin-bottom: 5rem;
}
.ml-xs {
  margin-left: 0.5rem;
}
.ml-sm {
  margin-left: 2rem;
}
.ml-md {
  margin-left: 3rem;
}
.ml-lg {
  margin-left: 4rem;
}
.ml-xl {
  margin-left: 5rem;
}

// PADDINGs
.pt-xs {
  padding-top: 1rem;
}
.pt-sm {
  padding-top: 2rem;
}
.pt-md {
  padding-top: 3rem;
}
.pt-lg {
  padding-top: 4rem;
}
.pt-xl {
  padding-top: 5rem;
}
.pb-xs {
  padding-bottom: 1rem;
}
.pb-sm {
  padding-bottom: 2rem;
}
.pb-md {
  padding-bottom: 3rem;
}
.pb-lg {
  padding-bottom: 4rem;
}
.pb-xl {
  padding-bottom: 5rem;
}
.img-rounded {
  border-radius: 50%;
}

.success {
  color: $color-success-dark;
}

.danger {
  color: $color-danger-dark;
}

/////////////////////////////////////////// COLORS
.color--white {
  color: $color-white;
}
.color--grey-default {
  color: $color-grey-dark;
}

/////////////////////////////////////////// Typography
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
.heading-2 {
  font-size: 3rem;
}
.heading-4 {
  font-family: $font-secondary;
  font-size: 3rem;
}
.heading-secondary {
  font-family: $font-secondary;
  font-size: 3rem;
}
.section-title {
  grid-column: 1/-1;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.span {
  &--strong {
    font-weight: bold;
  }
}
/////////////////////////////////////////// Global Components

.youtube-wrapper {
  & > div:first-of-type {
    height: 75vh;
  }
}

.logo {
  img {
    width: 100%;
  }
}

// SLICK SLIDER
.slick-arrow {
  &:hover {
    background-color: $color-primary !important;
  }
}

// FORMS
.form {
  background-color: $color-white;
  min-width: 30vw;
  min-height: 30vh;
  padding: 3rem;
  border-radius: 2px;
  &--lessons {
    min-width: 47vw;
  }
  &-img-preview {
    width: 9rem;
    margin: auto;
  }
  &-input {
    &--checkbox {
      display: flex;
      align-items: center;
    }
  }
  input ~ label {
    margin-left: 2px;
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    height: 30rem;
    overflow-y: scroll;
    width: 100rem;
    padding-right: 3rem;
  }
  &-title {
    font-family: $font-secondary;
    font-size: 3rem;
    margin-bottom: 3rem;
    &--span {
      color: $color-primary;
    }
  }
  &-sub-title {
    font-family: $font-primary;
    font-size: 1.5rem;
    margin-block: 1rem;
  }
  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    label {
      font-size: 1.7rem;
    }
    input {
      padding: 0.5rem;
      border: 1px solid $color-grey-dark-3;
      color: $color-grey-dark;
      &:focus {
        outline: 1px solid $color-primary !important;
      }
      &:invalid {
        outline: 1px solid $color-tertiary !important;
      }
    }
    input.valid {
      background-color: $color-success !important;
      border: 1px solid $color-success-dark !important;
    }
    input.invalid {
      background-color: $color-danger !important;
      border: 1px solid $color-danger-dark !important;
    }
  }
  &-submit {
    background: $color-blue;
    border: 1px solid $color-blue;
    color: $color-white;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 2px;
    font-family: inherit;
  }
  &-secondary-option {
    color: $color-blue;
    border: none;
    background: transparent;
    font-family: inherit;
  }
  select {
    padding: 0.5rem;
    border: 1px solid $color-grey-dark-3;
    color: $color-grey-dark;
    &:focus {
      outline: 1px solid $color-primary !important;
    }
    &:invalid {
      outline: 1px solid $color-tertiary !important;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    font-family: $font-primary;
    margin-top: 3rem;
  }
}

// BACKDROPS
.backdrop {
  &--interactions,
  &--global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $zIndex-5;
  }
  &--global {
    background-color: rgba($color-black, 0.5);
    z-index: $zIndex-4;
    transition: all 0.3s ease;
  }
}

// MODAL
.modal--lessons {
  max-width: 80rem;
  width: 80rem;
}
