@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.modal {
  background: $color-white;
  min-width: 55rem;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: $zIndex-5;
  border-radius: 3px;
  animation: showModal 1s ease 0.1s forwards;
  transition: all 0.5s ease;
  padding: 3rem;
  @include respond(tab-land) {
    max-width: 100%;
    width: 80%;
  }
  @include respond(small-phone) {
    min-width: auto;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    top: 0%;
  }
  90% {
    opacity: 1;
    top: 55%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
